/* .button-color {
    background-color: rgb(0, 173, 181) !important;
    color: rgb(238, 238, 238) !important;
}

.app-bg {
  background-color: rgb(34, 40, 49);
  min-height: 100vh;
  color: rgb(238, 238, 238); /* For readable text */
} */